<div class="wrapper">
    <header class="header clearfix">
        <div class="nav hidden-xs">
            <div class="container">
                <div class="row clearfix">
                    <nav>
                        {% comment %}
                        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                            <div class="lc">
                                <p>Chào mừng bạn đến với Haravan</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="social-menu">
                                <ul>
                                    <li class="facebook">
                                        <a target="_blank" href="{{ settings.social_facebook_link }}">
													<span>
														<em class="icon-facebook"></em>
													</span>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a target="_blank" href="{{ settings.social_instagram_link }}">
													<span>
														<em class="icon-instagram"></em>
													</span>
                                        </a>
                                    </li>
                                    {% comment %}
                                    <li class="twitter">
                                        <a target="_blank" href="{{ settings.social_twitter_link }}">
													<span>
														<em class="icon-twitter"></em>
													</span>
                                        </a>
                                    </li>
                                    <li class="pinterest">
                                        <a target="_blank" href="{{ settings.social_pinterest_link }}">
													<span>
														<em class="icon-pinterest"></em>
													</span>
                                        </a>
                                    </li>
                                    {% endcomment %}
                                    <li class="google-plus">
                                        <a target="_blank" href="{{ settings.social_google_plus_link }}">
													<span>
														<em class="icon-google-plus"></em>
													</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <ul id="header_links">
                                {% comment %}
                                <li class="hidden-xs">
                                    <i class="icon-shopping-cart"></i><a class="link-mycart" href="/cart"
                                                                         title="Giỏ hàng">Giỏ hàng</a>
                                </li>
                                {% endcomment %}
                                {% if shop.customer_accounts_enabled %}
                                {% if customer %}
                                {% if customer.default_address.first_name == empty and
                                customer.default_address.last_name == empty %}
                                <li>
                                    <i class="icon-user"></i><a class="link-myaccount" href="/account">Xin
                                    chào: {{ customer.first_name }} {{ customer.last_name }}</a>
                                </li>
                                {% else %}
                                <li>
                                    <i class="icon-user"></i><a class="link-myaccount" href="/account">Xin
                                    chào: {{ customer.default_address.first_name }} {{
                                    customer.default_address.last_name }}</a>
                                </li>
                                {% endif %}
                                <li class="last">
                                    <i class="icon-lock"></i><a class="link-login" href="/account/logout"
                                                                rel="nofollow">Đăng xuất</a>
                                </li>
                                {% else %}
                                <li>
                                    <i class="icon-user"></i><a class="link-myaccount" href="/account/register"
                                                                title="Đăng kí">Đăng ký</a>
                                </li>
                                {% if shop.customer_accounts_optional %}
                                <li class="last">
                                    <i class="icon-lock"></i><a class="link-login" href="/account/login"
                                                                title="Đăng nhập" rel="nofollow">Đăng
                                    nhập</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                        {% endcomment %}
                    </nav>
                </div>
            </div>
        </div>
        <div class="wrap_header_logo hidden-xs">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 header_logo">
                        {% if settings.use_logo %}
                        <h1>
                            <a href="{{ shop.url }}">
                                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class=""/>
                            </a>
                        </h1>
                        {% if template == 'index' %}
                        <h1 style="display:none">
                            <a href="/">{{ shop.name }}</a>
                        </h1>
                        {% endif %}
                        {% else %}
                        <h1>
                            <a href="/">{{ shop.name }}</a>
                        </h1>
                        {% endif %}
                    </div>
                    <div class="header-content col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div id="sticky_top" class="" style="right: 89.5px;">
                            <div id="search_block_top" class="clearfix">
                                <div class="pts-search">
                                    <form action="/search" id="searchbox">
                                        <input type="hidden" name="type" value="product"/>
                                        <input class="search_query form-control ac_input" type="text"
                                               id="search_query_top" name="q" value="" placeholder="Tìm kiếm..."
                                               autocomplete="off">
                                        <button type="submit" name="submit_search" class="btn button-search"><span
                                                class="icon-search"></span></button>
                                    </form>
                                </div>
                            </div>

                            <div class="shopping_cart">
                                <a class="title_cart" href="/cart" title="" rel="nofollow">
                                    <span class="top-cart">Giỏ hàng :</span>
                                    <span class="ajax_cart_no_product ajax_cart_quantity">{{ cart.item_count }}</span>
                                </a>
                                <div class="cart_content cart_block hidden-xs" id="view-cart">
                                    <div id="clone-item">
                                        <div class="item_2 clearfix hidden item-ajax item-cart clearfix">
                                            <div class="nav-bar-item">
                                                <figure class="image-cart">
                                                    <a href="">
                                                        <img src="">
                                                    </a>
                                                </figure>
                                                <div class="text_cart">
                                                    <h4>
                                                        <a href=""></a>
                                                    </h4>
                                                    <div class="price-line">
                                                        <div class="down-case"><span class="new-price">  </span></div>
                                                    </div>
                                                </div>
                                                <span class="remove_link">
															<a class="remove-cart" data-id="{{ item.variant.id }}"
                                                               href="javascript:void(0);"><i
                                                                    class="fa fa-times-circle"></i></a>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if cart.item_count > 0 %}
                                    {% for item in cart.items %}
                                    <div class="item-cart clearfix">
                                        <div class="nav-bar-item">
                                            <figure class="image-cart ">
                                                <a href="{{ item.product.url | within: collections.all }}">
                                                    <img src="{{ item | img_url: 'small' }}"/>
                                                </a>
                                            </figure>
                                            <div class="text_cart">
                                                <h4>
                                                    <a href="{{ item.product.url }}">{{ item.title }}</a>
                                                </h4>
                                                <div class="price-line">
                                                    <div class="down-case">{{ item.quantity }} x <span
                                                            class="new-price"> {{ item.price | money }}  </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="remove_link">
														<a class="remove-cart" data-id="{{ item.variant.id }}"
                                                           href="javascript:void(0);"><i class="fa fa-times-circle"></i></a>
													</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="text-mini-cart">
                                        <span class=" text-left">Tổng tiền:</span>
                                        <span class="cart_block_total">{{ cart.total_price | money }}</span>
                                    </div>
                                    <div class="cart-check-mini">
                                        <a class="button-small" href="/checkout">
													<span>
														Thanh toán <i class="fa fa-chevron-right"></i>
													</span>
                                        </a>
                                    </div>
                                    {% else %}
                                    <div style="padding:10px 20px;">
                                        <p style="margin:0" class="text-center">Giỏ hàng của bạn đang trống</p>
                                        <p class="text-center"><a href="{{ shop.url }}">Tiếp tục mua hàng</a></p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="top-info">
                            <div class="support">
                                {% if settings.hotline_1_1 %}
                                <span class="info-support"> <em
                                        class="icon-phone"></em> <em>{{ settings.hotline_noidung }} </em> </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="mobile-menu-wrapper">
                                <div class="navbar-header hidden-lg hidden-sm hidden-md">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="logo-mobile">
                                {% if settings.use_logo %}
                                <h1 class="logo">
                                    <a href="{{ shop.url }}">
                                        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"
                                             class="img-responsive"/>
                                    </a>
                                </h1>
                                {% if template == 'index' %}
                                <h1 style="display:none">
                                    <a href="/">{{ shop.name }}</a>
                                </h1>
                                {% endif %}
                                {% else %}
                                <h1>
                                    <a href="/">{{ shop.name }}</a>
                                </h1>
                                {% endif %}
                            </div>
                            <div class="navbar-header">
                                <div class="pull-right mobile-menu-icon-wrapper">
                                    <ul class="mobile-menu-icon">
                                        <li class="search">
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle icon-search"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    <div class="search-bar">
                                                        <div class="">
                                                            <form class="col-md-12" action="/search">
                                                                <input type="hidden" name="type" value="product"/>
                                                                <input type="text" name="q" placeholder="Tìm kiếm..."/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cart">
                                            <a href="/cart" class="cart " title="Giỏ hàng">
                                                <span class="fa fa-shopping-cart"></span>
                                                <!--<span id="cart-count">{{ cart.item_count }}</span-->
                                            </a>
                                        </li>
                                        {% if customer %}
                                        <li class="user">Hi<a href="/account"
                                                              title="Tài khoản">{{ customer.name }}</a></li>
                                        {% elseif shop.customer_accounts_enabled %}
                                        <li class="user"><a href="/account/login" title="Đăng nhập"
                                                            class="fa fa-user"></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse hidden-lg hidden-md hidden-sm">
            <ul class="nav navbar-nav clearfix hidden-lg hidden-md hidden-sm">
                {% for link in linklists.main-menu.links %}
                {% if linklists[link.handle] == empty %}
                {% if link.title == 'Trang chủ' %}
                <li class="pts_menu act">
                    <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}"
                       title="Trang chủ">
                        <span>{{ link.title }}</span>
                    </a>
                </li>
                {% else %}
                <li class="pts_menu">
                    <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}"
                       title="{{ link.title }}">
                        <span>{{ link.title }}</span>
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class="dropdown pts_menu act" id="pts_menu_cms">
                    <a href="{{ link.url }}" title="{{ link.title }}"
                       class="{% if link.active %} current{% endif %}">
                        <span>{{ link.title }}</span>
                    </a>
                    <ul class="dropdown-menu nav-ayt-02 subnav_2col popup" role="menu">
                        {% for l in linklists[link.handle].links %}
                        <li class="itemSubMenu level3">
                            <a href="{{ l.url }}" {% if l.active %} class="current" {% endif %}
                               title="{{ l.title }}">{{ l.title }}</a>
                            {% if linklists[l.handle].links.size > 0 %}
                            <ul class="dropdown-menu">
                                {% for ll in linklists[l.handle].links %}
                                <li>
                                    <a href="{{ ll.url }}" {% if ll.active %} class="current" {% endif %}
                                       title="{{ ll.title }}">{{ ll.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </header>
    <script>
        function getCartView() {
            jQuery.getJSON('/cart.js', function (cart, textStatus) {
                $('.ajax_cart_quantity').html(cart.item_count);
                $('#view-cart .text-mini-cart').remove();
                $('#view-cart .cart-check-mini').remove();
                $('#view-cart').append(
                    "<div class='text-mini-cart'><span class='text-left'>Tổng tiền:</span><span class='cart_block_total'>" + Haravan.formatMoney(cart.total_price, '{{ shop.money_format }}') + "</span></div><div class='cart-check-mini'><a class='button-small' href='/checkout'><span>Thanh toán <i class='fa fa-chevron-right'></i></span></a></div>"
                );
                $.each(cart.items, function (i, item) {
                    clone_item(item);
                });
            });
        };

        function clone_item(product) {
            var item_product = $('#clone-item .item_2');
            item_product.find('img').attr('src', product.image);
            item_product.find('a:not(.remove-cart)').attr('href', product.url);
            item_product.find('.text_cart > h4 > a').html(product.title);
            var variant = '';
            $.each(product.variant_options, function (i, v) {
                variant = variant + ' ' + v;
            });
            item_product.find('.remove-cart').attr('data-id', product.variant_id);
            item_product.find('.variant').html(variant);
            item_product.find('.price-line .new-price').html(Haravan.formatMoney(product.price, "{{ shop.money_format }}") + "<span class='down-case'> x " + product.quantity + "</span>");
            item_product.clone().removeClass('hidden').prependTo('#view-cart');
        }

        $(document).on("click", ".remove-cart", function () {
            var index_view_cart = $(this).parents('.item-cart').index() - 1;
            $(this).parents('.item-cart').remove();
            var variant_id = $(this).attr('data-id');
            var params = {
                type: 'POST',
                url: '/cart/change.js',
                data: 'quantity=0&id=' + variant_id,
                dataType: 'json',
                success: function (cart) {
                    if (cart.item_count > 0) {
                        $('.ajax_cart_quantity').html(cart.item_count);
                        if (window.location.pathname == '/cart') {
                            $('#total-carts').html(Haravan.formatMoney(cart.total_price, "{{ shop.money_format }}"));
                            $('#cartformpage tr.list-carts').eq(index_view_cart).remove();
                        }
                        ;
                        $('.cart_block_total').html(Haravan.formatMoney(cart.total_price, "{{ shop.money_format }}"));
                    } else {
                        if (window.location.pathname == '/cart') {
                            $('#cartformpage').remove();
                            $('#layout-page').append("<p class='text-center'>Không có sản phẩm nào trong giỏ hàng!</p><p class='text-center'><a href='/collections/all'><i class='fa fa-reply'></i> Tiếp tục mua hàng</a></p>");
                        }
                        $('.ajax_cart_quantity').html(cart.item_count);
                        $('#view-cart > div:not(#clone-item)').remove();
                        $('#view-cart').append("<div style='padding:10px 20px;'> <p style='margin:0' class='text-center'>Giỏ hàng của bạn đang trống</p><p class='text-center'><a href='{{ shop.url }}'>Tiếp tục mua hàng</a></p></div>");
                    }
                },
                error: function (XMLHttpRequest, textStatus) {
                    Haravan.onError(XMLHttpRequest, textStatus);
                }
            };
            jQuery.ajax(params);

        });


    </script>
    <nav class="navbar-main navbar navbar-default cl-pri top-menu hidden-xs">
        <div class="shadow-top-menu"></div>
        {% include 'menu' %}
    </nav>
    <section id="content" class="clearfix ">
        {{ content_for_layout }}
    </section>
    <footer id="footer">
        <!--footer-->
        {% include 'footer' %}
    </footer>
</div>