@import "../inc/inc";

html, body {
  width: 100%;
  overflow-x: hidden;
  @include responsive('xs-max'){
    @include font-size-with-line-height(12px);
  }
}

#haravan-notification{
  display: none;
}

body [data-zbwid="ca291a91"] .zb-tab-content{
  font-family: $font-family-base !important;
  font-size: $font-size-base !important;
}
