<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="layout-page">
			<div id="404">
				<span class="header-page clearfix">
					<h1>Thông báo</h1>
				</span>
				<div class="col-md-12">
					<span class="subtext"> Bạn click nhầm rồi, quay lại trang chủ nha, ahihi, We Love U :(</span>
				</div>
			</div>
		</div>
	</div>
</div>