<div class="container">
	<div class="row">
		{% layout settings.customer_layout %}
		<div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="layout-page">
			<span class="header-contact header-page clearfix">
				<h1>Kích hoạt tài khoản</h1>
			</span>

			<div id="customer-login">

				<div id="login" class="userbox">
					<div class="accounttype">
						<h2 class="title"></h2>
					</div>
					{% form 'activate_customer_password' %}
					{{ form.errors | default_errors }}
					<p class=" text-center create-password">Điền mật khẩu để kích hoạt tài khoản của bạn</p>
					<div class="clearfix large_form">
						<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
						<input required type="password" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
					</div>
					<div class="clearfix large_form">
						<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
						<input required type="password" value="" name="customer[password_confirmation]" id="customer_password" placeholder="Xác nhận mật khẩu" class="text" size="16" />      
					</div>

					<div class="action_bottom">
						<input class="btn btn-signin" type="submit" value="Kích hoạt" />
					</div>


					{% endform %}

				</div>

			</div>
		</div>

	</div>
</div>