$animation-time: 0.135s;

$body-bg: #fff;

$font-family-sans-serif: "UTM Avo", Helvetica, Arial, sans-serif !default;

$font-size-base: 12.5px;

$grid-gutter-width: 20px;

$container-large-desktop: 1160px + $grid-gutter-width;

$navbar-height: 60px;

$border-radius-base: 0;

$text-color: #222;

$headings-font-weight: 700;

$line-height-base: 1.618;

$screen-lg: 1367px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2);

$theme-color: #fc0;
$theme-red-color: #e02417;
$theme-color-dark: #d6ab00;
$theme-color-dark-2: darken($theme-color-dark, 10);
$theme-color-dark-3: darken($theme-color-dark, 20);

$font-size-h: $font-size-h1 * 0.87, $font-size-h2 * 0.95, $font-size-h3,
  $font-size-h4, $font-size-h5, $font-size-h6;

$grid-breakpoints: (
  xs: 0,
  sm: $screen-xs - 1px,
  md: $screen-sm - 1px,
  lg: $screen-md - 1px
) !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    )
  ),
  $spacers
);
